.write-boxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid; */
    /* width: max-content; */
    margin: 100px auto 0 auto;
}

.write-card-wrapper {
    width: 350px;
    height: 350px;
    margin: 20px 50px;
    cursor: pointer;
    /* border-radius: 10px; */
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all .4s ease-in-out;
    font-size: 16px;
}

.write-card-wrapper:hover {
    width: 375px;
    height: 375px;
    /* padding: 35px 40px; */
}

.write-card-content {
    text-align: center;
    margin-top: 10px;
}


.write-card-button {
    font-size: 14px;
    border: 1px solid #26519e;
    color: #26519e;
    /* border-radius: 15px; */
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
    font-weight: 600;
}

.write-card-button:hover {
    box-shadow: 0 0 40px 40px #26519e inset;
    color: white
}

.write-card-head {
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}