.question-col-2 {
    flex: 1;
    padding: 30px 10px 0 10px;
    border-left: .5px solid rgba(128, 128, 128, 0.315);
}


.header-status-row {
    padding-left: 10px;
    margin-bottom: 10px;
}

.question-col-2-header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 75, 145);
}

.question-col-2-status-row {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    color: black;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 500;
    border-bottom: .5px solid rgba(128, 128, 128, 0.315);
}


.question-col-2-status-time {
    display: flex;
    align-items: center;
}

.question-col-2-asked-date {
    color: rgba(117, 117, 117, 1);
}


.question-body-wrapper {
    display: flex;
}


/* actions  */
.question-actions {
    margin-top: 20px;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.question-vote-icon {
    cursor: pointer;
}

.question-vote-count {
    font-size: 16px;
    margin-top: 2px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(210, 8%, 45%);
}

.question-actions-bookmark {
    margin-top: 20px;
    cursor: pointer;
}

.question-bookmark-count {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(210, 8%, 45%);
}

.question-col-2-body-content {
    padding: 10px 10px;
}

.wmde-markdown pre {
    background-color: hsl(0, 0%, 96.5%);
    white-space: pre-wrap;
    overflow: auto;
    word-wrap: normal;
}

.wmde-markdown pre .copied:hover {
    background-color: royalblue;
}

.answer-editor-section {
    margin: 30px 0px 30px 10px;
}

@media screen and (max-width: 650px) {
    .question-col-2-header {
        font-size: 20px;
    }

    .question-col-2-status-row {
        font-size: 12px;
    }

    .wmde-markdown {
        font-size: 14px;
    }
}