.article-container-col-2 {
    flex: 1;
    padding: 30px 10px 0 10px;
}

.article-container-header {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.article-container-header div {
    margin-left: 15px;
    font-size: 22px;
    font-weight: 500;
}


@media screen and (max-width:650px) {
    .article-container-header div {
        font-size: 20px;
    }

}