@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.article-wrapper {
    /* border: 2px solid; */
    width: 60vw;
    margin: auto;
    padding: 20px 10px;
}


/* owner-details  */
.article-owner-details {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}

.article-owner-profile {
    width: 40px;
    height: 40px;
}

.article-owner-profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article-credentials {
    margin-left: 10px;
}

.article-owner-name {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.article-timestamp {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.article-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
}


.article-image {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 300px;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.wmde-markdown {
    font-size: 17px;
    font-family: "PT Serif", Merriweather, Georgia, Cambria, Times New Roman, Times, serif;
    color: rgb(51 51 51);
}

.article-body {
    margin-top: 30px;
    font-size: 16px;
}

/* media queries  */
@media screen and (max-width:850px) {
    .article-wrapper {
        width: 90vw;
    }
}