.footer-container {
  height: max-content;
  width: 100%;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 20px 0;
  border-top: 1px solid #eee;
}


.footer-item {
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 500;
  color: grey;
  cursor: pointer;
}