.home-col-2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10px;
}

.home-col-2-header-title {
    font-size: 30px;
}

.home-col-2-header-ask-button {
    font-size: 16px;
    border: 2px solid;
    padding: 8px;
    background-color: #4e99fce0;
    color: white;
    cursor: pointer;
}

.home-col-2-header-ask-button:hover {
    background-color: #26519e;
}

.home-col-2-tag-row {
    height: max-content;
    width: max-content;
    margin-left: auto;
    display: flex;
    border-radius: 3px;
}

.home-col-2-tag-row-item {
    /* border: 1px solid; */
    border: .3px solid rgba(128, 128, 128, 0.315);
    width: max-content;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.home-col-2-tag-row-item:hover {
    /* color: white; */
    background-color: rgba(128, 128, 128, 0.315);
    ;
}

.home-col-2-bottom {
    padding: 20px 20px;
    font-size: 18px;
    text-align: center;
}


@media screen and (max-width:650px) {
    .home-col-2-header-title {
        font-size: 25px;
    }

}