.home-wrapper {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
}

.home-col-2 {
    flex: 1;
    padding: 0 10px 0 0;
    border-left: .5px solid rgba(128, 128, 128, 0.315);
}


.home-col-3 {
    width: 25%;
    display: none;
}

.home-colo-3-header {
    text-align: center;
    font-size: 18px;
}

.home-col-3-img {
    width: 100%;
}

.home-col-3-img img {
    width: 100%;
    object-fit: contain;
}


@media screen and (min-width:990px) {
    .home-col-3 {
        display: block;
    }
}

/* pagination  */

.question-pagination-wrapper {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.question-pagination {
    display: inline-block;
}

.question-pagination div {
    font-size: 16px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
}

.question-pagination div.active {
    background-color: #26519e;
    color: white;
}

.question-pagination div:hover:not(.active) {
    background-color: #ddd;
}