.home-col-2-question {
    margin-top: 15px;
}

.home-question-card {
    display: flex;
    width: 100%;
    border-top: .5px solid rgba(128, 128, 128, 0.315);
    padding: 15px 5px 15px 10px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.home-question-card:hover {
    background-color: aliceblue;
}


/* card left  */
.home-question-card-left {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(210, 8%, 35%);
}

.home-question-card-left div {
    font-size: 12px;
    margin-bottom: 10px;
}

.home-question-card-votes {
    color: black;
}


.home-question-card-answer-count {
    border: 1px solid green;
    padding: 3px;
    border-radius: 3px;
    color: green;
}

/* ------>>>>>>>>>>  */


/* card right  */
.home-question-card-right {
    flex: 1;
    font-size: 16px;
    margin-left: 20px;
}

.home-question-right-title {
    color: hsl(206, 100%, 40%);
}

.home-question-right-tags {
    display: flex;
}

.home-question-right-tags div {
    margin-right: 3px;
    font-weight: 500;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    color: hsl(205, 47%, 42%);
    background-color: hsl(205, 46%, 92%);
    border-radius: 3px;
}

.home-question-right-tag-time {
    margin-top: 5px;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}

.home-question-time {
    font-size: 12px;
    color: hsl(210, 8%, 45%);
    font-weight: 500;
}

/* //answers */

.question-body-noa {
    margin: 10px 0;
    padding: 10px;
    font-size: 21px;
}

.question-owner {
    margin-top: 20px;
    width: 150px;
    padding: 7px 14px 7px 10px;
    margin-left: auto;
    font-size: 14px;
    background-color: hsl(206, 96%, 90%);
}

.question-owner-details {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.question-owner-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(117, 117, 117, 1);
}

.question-owner-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.question-owner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.question-owner-name {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: hsl(206, 100%, 40%);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.question-owner-name:hover {
    text-decoration: underline;
}

@media screen and (max-width:650px) {
    .home-question-card {
        padding: 15px 10px 15px 5px;
    }

    .home-question-card-right {
        font-size: 14px;
    }

    .home-question-right-tags div {
        padding: 5px 4px;
    }
}